.rounded-image {
  border-radius: 12px; /* Adjust as needed */
}
.smaller-math {
  transform: scale(0.7);
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-left: -15% !important;
}

.math-container {
  display: flex;
  align-items: center; /* vertically centers the content */
  justify-content: start; /* aligns content to the left, change to 'center' or 'end' if needed */
  text-align: center;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}
.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #fff;
}
.foreground {
  position: relative;
  z-index: 1;
}

figure {
  margin: 16px;
}
.small {
  font-size: 20px;
  color: #666;
}
.medium {
  font-size: 30px;
}

figcaption,
caption {
  font-size: 25px;
  color: #666;
  text-align: center;
  margin-top: 8px;
  font-style: italic;
}
